/* CSS Reset Begins */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* CSS Reset Ends */

.main-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.nav-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 1rem;
  background-color: lightsalmon;
  border: 1px solid red;
}

.static-links, .field-links {
  display: flex;
  flex-direction: column;
}

.static-links {

}

.field-links {

}

.time-link, .field-link {
  cursor: pointer;
}

.active {
  color: blueviolet;
  background-color: cadetblue;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  border: 1px solid red;
  background-color: rgb(114, 187, 138);
}

.footer-container {

}

.head-tile {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  height: max-content;
  margin: 0 1rem;
  padding: 1rem;
  background-color: chartreuse;
  border: 1px solid yellowgreen;
  border-radius: 15px;
}